.div {
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: sticky;
    width: 232px;
    height: fit-content;
    left: 24px;
    top: 24px;
    justify-content: left;
}

.p {
    color: var(--main500);
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -2%;
    font-weight: 600;
    font-family: "poppins";
    text-decoration: none;
    margin: 0px;
    margin-left: 12px;
    font-style: normal; 
  }
