@media (min-width: 950px) {
    .imageFrame {
        min-width: 250px;
        width: 250px;
    }
    .movieDescription {
        width: 100%;
        height: 352px;
    }
    .stats {
        width: 100%;
        height: fit-content;
    }
    .statsMobile{
        width: 0px;
        height: 0px;
        overflow: hidden;
        }
  }

@media (max-width: 950px) {
    .imageFrame {
        min-width: 25vw;
        width: 25vw;
    }
    .movieDescription {
        width: 100%;
        height: calc(25vw * (352 / 250));
    }
    .stats {
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
    .statsMobile{
        width: 100%;
        height: fit-content;
        overflow: visible;
        margin-top: 12px;
        }
  }

  @media (min-width: 740px) {
    .nameDateRatingMobile{
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
    .userRating {
        width: fit-content;
        height: fit-content;
    }
    .frame {
        justify-content: space-between;
    }
    .imageFrame {
        margin-right: 16px;
    }
    .statsName {
        width: 148px;
        min-width: 148px;
    }
  }

  @media (max-width: 740px) {
    .nameDateRatingMobile{
        width: 100%;
        height: fit-content;
        margin-bottom: 12px;
    }
    .movieDescription {
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
    .imageFrame {
        min-width: fit-content;
        width: 352px;
        margin-right: 0px;
    }
    .userRating {
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
    .frame {
        justify-content: center;
    }
    .statsName {
        width: 100px;
        min-width: 100px;
    }
  }

.movieCard {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    background: var(--white);
    border-radius: 12px;
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}

.frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.loader {
    position: absolute;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    z-index: 8;
  }

.imageFrame {
    aspect-ratio: 250/352;
    position: relative;
    background: var(--grey200);
    border: 1px solid var(--grey100);
    box-sizing: border-box;
}

.image {
    position: relative;
    z-index: 10;
}

.noPoster {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 57px;
    height: 44px;
    left: calc(50% - 28.5px);
    top: calc(50% - 22px);
    display: flex;
}

.noPosterP {
    margin: 0;
    height: 16px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey500);
    width: 57px;
}

.movieDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
}

.nameDateRating {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: fit-content;
    display: flex;
}

.nameDateRatingMobile {
    display: flex;
    flex-direction: row;
}

.name {
    height: fit-content;
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    color: var(--main500);
    width: 100%;
    padding-right: 12px;
}

.date {
    height: fit-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey600);
    width: 100%;
}

.ratingFull {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 8px;
}

.ratingFrame {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: fit-content;
    height: 28px;
    display: flex;
    gap: 4px;
}

.ratingStar {
    height: 20px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    width: fit-content;
    margin: 0;
}

.ratingCount {
    height: 19px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    color: var(--grey600);
    width: fit-content;
}

.stats {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 12px;
}

.statsFrame {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    display: flex;
}

.statsName {
    height: fit-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    color: var(--grey600);
}

.statsData {
    height: fit-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: var(--black);
    width: fit-content;
}

.statsMobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    padding: 0px;
}