@media (min-width: 1700px) {
  .frame{
    left: calc((100% - 800px) / 2);
  }
}

@media (max-width: 1700px) {
  .frame{
    left: calc(280px + (100% - 800px - 280px) / 2);
  }
}

@media (max-width: 1366px) {
  .frame{
    left: calc(228px + (100% - 800px - 228px) / 2);
  }
}

@media (min-width: 1100px) {
  .frame{
    width: 800px;
  }
}

@media (max-width: 1100px) {
  .frame{
    width: calc(95% - 228px);
    left: calc(228px + (100% - 228px - (95% - 228px)) / 2);
  }
}

@media (min-width: 832px) {
  .youtubeBackground {
    width: 500px;
  }
  .youtubeWrapper {
    width: 500px;
  }
  .youtube {
    width: 490px;
    height: 271px;
  }
}

@media (max-width: 832px) {
  .youtubeBackground {
    width: 100%;
  }
  .youtubeWrapper {
    width: 100%;
  }
  .youtube {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 740px) {
  .frame{
    top: 40px;
  }
}

@media (max-width: 740px) {
  .frame{
    width: 520px;
    top: 120px;
    left: calc((100% - 520px) / 2);
  }
}

@media (max-width: 560px) {
  .frame{
    width: 88%;
    left: calc(12% / 2);
  }
}

.breadcrumbsRoot{
  width: 100%;
}

.frame {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  height: fit-content;
  display: flex;
  padding-bottom: 82px;
}

.link0 {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--main500);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  font-family: "Inter-Regular";
  font-style: normal; 
}

.link1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--main500);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  font-family: "Inter-Regular";
  font-style: normal; 
}

.trailerDescriptionProduction {
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  width: 100%;
  height: fit-content;
  background: var(--white);
  border-radius: 12px;
  display: flex;
}

.trailer {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: fit-content;
  display: flex;
}

.description {
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: fit-content;
  display: flex;
}

.p1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin: 0px;
  margin-bottom: 16px;
  color: var(--black);
  font-family: 'Inter-Bold';
}

.p2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
  font-family: 'Inter-Regular';
  margin: 0px;
}

.productionP {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin: 0px;
  margin-bottom: 4px;
  color: var(--black);
  font-family: 'Inter-Bold';
}

.loader {
  position: absolute;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  z-index: 8;
}

.youtubeBackground {
  position: relative;
  background-color: var(--grey100);
  border-radius: 9px; 
  aspect-ratio: 500/281;
  z-index: 7;
}

.youtubeWrapper {
  position: absolute;
  border-radius: 14px;  
  border: solid 5px var(--grey100);
  aspect-ratio: 500/281;
  overflow: hidden;
  z-index:10;
}

.production {
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: fit-content;
  display: flex;
}

.producers {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: fit-content;
}

.producer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 40px;
  margin-top: 12px;
}

.producerIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-right: 8px;
  min-width: 40px;
  width: 40px;
  height: 100%;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: solid 0.5px var(--grey100);
  padding: 0px;
  overflow: hidden;
}

.producerIconHolder {
  position: relative;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

.producerNoIconHolder {
  position: relative;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

.p3 {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
  margin: 0px;
}