@media (min-width: 1250px) {
    .movieCard {
        min-width: 482px;
    }
  }

@media (max-width: 400px) {
    .name {
        font-size: 18px;
    }
    .ratingStar, .ratingCount, .genres, .genresData{
        font-size: 14px;
    }
  }

@media (min-width: 400px) {
    .name {
        font-size: 20px;
    }
    .ratingStar, .ratingCount, .genres, .genresData{
        font-size: 16px;
    }
  }

@media (min-width: 560px) {
    .movieCard{
        height: 218px;
    }
  }

@media (max-width: 560px) {
    .movieCard{
        min-height: 283px;
        height: fit-content;
    }
  }

.movieCard {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    background: var(--white);
    border-radius: 12px;
    display: flex;
}

.frame {
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 0px;
    width: fit-content;
    height: 100%;
    display: flex;
}

.link{
    text-decoration: none;
    height: 100%;
}

.loader {
    position: absolute;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    z-index: 9;
  }

.image {
    height: 100%;
    min-height: 170px;
    aspect-ratio: 0.7;
    position: relative;
    background: var(--grey200);
    border: 1px solid var(--grey100);
    box-sizing: border-box;
}

.loaderBackgrond {
    height: 168px;
    aspect-ratio: 0.7;
    position: relative;
    background: var(--grey200);
    box-sizing: border-box;
    z-index: 8;
}

.noPoster {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 57px;
    height: 44px;
    left: calc(50% - 28.5px);
    top: calc(50% - 22px);
    display: flex;
}

.noPosterP {
    margin: 0;
    height: 16px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey500);
    width: 57px;
}

.movieDescription {
    height: 100%;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    display: flex;
    padding-left: 16px;
}


.nameDateRating {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: fit-content;
    display: flex;
}

.name {
    height: fit-content;
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-weight: 600;
    margin: 0;
    line-height: 24px;
    color: var(--main500);
    width: 100%;
    transition: all 150ms ease;
    padding-right: 10px;
}

.name:hover {
    color: var(--main400);
}

.name:active {
    color: var(--main600);
}

.date {
    height: fit-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 20px;
    color: var(--grey600);
    width: fit-content;
}

.ratingFull {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    gap: 4px;
    display: flex;
}

.ratingFrame {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    gap: 4px;
    display: flex;
}

.ratingStar {
    height: fit-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: var(--black);
    width: 25px;
    margin: 0;
}

.ratingCount {
    height: fit-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    color: var(--grey600);
    width: fit-content;
}

.genresFrame {
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 0px;
    height: fit-content;
    display: flex;
    width: fit-content;
    gap: 8px;
}

.genres {
    height: 19px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    color: var(--grey600);
    width: fit-content;
}

.genresData {
    height: fit-content;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
    color: var(--black);
    width: fit-content;
}

.frameMobile {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}

.topMobile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.bottomMobile{
    display: flex;
    gap: 10px;
}

.movieDescriptionMobile {
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 8px;
}