@media (min-width: 1700px) {
  .test{
    left: calc((100% - 980px) / 2);
  }
}

@media (max-width: 1700px) {
  .test{
    left: calc(280px + (100% - 980px - 280px) / 2);
  }
}

@media (max-width: 1366px) {
  .test{
    left: calc(228px + (100% - 980px - 228px) / 2);
  }
}

@media (min-width: 1250px) {
  .test{
    width: 980px;
  }
}

@media (max-width: 1250px) {
  .test{
    width: calc(75% - 228px);
    left: calc(228px + (100% - 228px - (75% - 228px)) / 2);
  }
}

@media (max-width: 990px) {
  .test{
    width: 500px;
    left: calc(228px + (100% - 228px - 500px) / 2);
  }
}

@media (max-width: 800px) {
  .test{
    width: 63.75%;
    left: calc(228px + (100% - 228px - 63.75%) / 2);
  }
}

@media (min-width: 740px) {
  .test{
    top: 40px;
  }
}

@media (max-width: 740px) {
  .test{
    width: 500px;
    top: 120px;
    left: calc((100% - 500px) / 2);
  }
}

@media (max-width: 560px) {
  .test{
    width: 88%;
    left: calc(12% / 2);
  }
}

.test{
  flex-direction: column;
  position: absolute;
  display: flex;
  padding-bottom: 82px;
}

.frame1 {
  align-items: center;
  padding: 0px;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.frame2Movies {
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  position: relative;
  display: flex;
  width: fit-content;
}

.movies{
  padding: 0px;
  width: fit-content;
  display: flex;
  position: relative;
  margin-bottom: 16px;
}

.p {
  margin: 0px;
  font-family: "Inter-Regular";
  font-weight: 700;
  line-height: 44.8px;
  text-align: left;
  font-size: 32px;
  font-style: normal; 
}

.buttonSearch {
  width: 88px;
  height: 32px;
  border-radius: 8px;
  position: relative;
  background-color: var(--main500);
  transition: all 150ms ease;
}

.buttonSearch:hover {
  background-color: var(--main400);
  cursor: pointer;
}

.buttonSearch:active {
  background-color: var(--main600);
  transform: none;
}

.p1 {
  color: var(--white);
  font-family: "Inter-SemiBold";
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  text-align: center;
  font-style: normal; 
}

.TextInputSearch {
  width: 490px;
  font-family: "Inter-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  transition: all 150ms ease;
  font-style: normal; 
}

.TextInputSearch:hover {
  border: 1px solid var(--main500)
}

.TextInputSearch:focus {
  border: 1px solid var(--main500)
}

.loader {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  z-index: 8;
}