@media (min-width: 1366px) {
    .nav {
        width: 280px;
    }

    .link {
        width: 232px;
    }
  }
  
  @media (max-width: 1366px) {
    .nav {
        width: 228px;
    }

    .link {
        width: 180px;
    }
  }

  @media (max-width: 740px) {
    .link {
        width: 100%;
    }
  }

  .nav{
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: sticky;
    height: 100%;
    top: 0px;
    background: var(--main100);
    display: flex;
    z-index: 100;
}

.box {
    position: absolute;
    top: 140px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: fit-content;
    height: 100px;
    display: flex;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    height: 42px;
    background: var(--main100);
    border-radius: 8px;
    margin: 0;
    font-family: "Inter-Regular";
    font-size: 16px;
    font-weight: 400;
    font-style: normal; 
    line-height: 22.4px;
    text-align: left; 
    color: var(--black);
    text-decoration: none;
}

.link:hover {
    background-color: var(--main200);

}

.link:where([data-active]) {
    color: var(--main500);
    background-color: var(--main200);
    font-family: "Inter-Regular";
    font-weight: 700;
    font-style: normal; 
  }


  .navMobile{
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    position: sticky;
    height: 80px;
    width: 100%;
    top: 0px;
    background: var(--main100);
    display: flex;
    z-index: 201;
}

.modalContent {
    background: var(--main100);
    padding: 5%;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 100%;
}
